{% extends 'base.html' %}
{% load static %}

    {% block title %}

        About John!

    {% endblock %}

    {% block meta_description %}

       About Ibeh John

    {% endblock %}

{% block content %}








    <!-- about section start -->
    <div class="about_section_2 layout_padding">
        <div class="container">
            <h1 class="about_text_2"><strong>ABOUT US</strong></h1>
            <p class="client_long_text">About John and his services</p>
        </div>
    </div>
    <div class="about_section about_main">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital">
                    <h1 class="about_text">ABOUT OUR SERVICES</h1>
                    <p class="long_text_2">My name is Ibeh John, an undergraduate of University of Abuja, currently studying Electrical and Electronic Engineering, I’m into web designing (Front end and Back end), and I’m also aspiring to be a software developer. Presently I work with Emperor Electrical Company; we’re into interior lightening adornment and fittings. I'm also an event DJ with 7 years if ordeal, I play on different genres. I'm available for bookings, hit the contact button and send us a mail for I know you need at least one of our services.</p>
                    <!-- <div class="about_bt"><a href="#">ABOUT MORE</a></div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="{% static 'website/images/20211011_203329.png'%}"></div>
            </div>
        </div>
    </div>
    <!-- about section end -->
{% endblock %}
