{% extends 'base.html' %}
{% load static %}

    {% block title %}

        DJ MIX TAPES!

    {% endblock %}

    {% block meta_description %}

       Dj SHUGA MIXTAPES

    {% endblock %}

{% block content %}




<br/><br/><br/><br/><br/><br/>
 <center>
<h2 class="design_text">NO DJ MIXTAPE ON THIS SITE YET </h2>
    <div>
    <a href="https://audiomack.com/dj-shuga-/uploads">CLICK HERE</a> <h2 class="design_text">to be redirected to Audiomack for latest mixtape from DJ SHUGA!  </h2>

    </div>

</center>
<br/><br/><br/><br/><br/><br/>


{% endblock %}