{% extends 'base.html' %}

{% load static %}


	{% block title %}

        You're Welcome!

    {% endblock %}



{% block content %}


   <!-- banner section start -->
    <div class="banner_section layout_padding">
    	<div id="my_Controls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
    		<div class="banner_taital">
    			<h1 class="find_text">IBEH JOHN SERVICES</h1>
    			<h2 class="crush_text">WEBSITE DEVELOPER</h2>
    			<p class="long_text">You're at the right place, check out our services!</p>
    		</div>
    		<div class="contact">
    			<div class="contact_bt"><a href="{% url 'contact' %}">Contact Us</a></div>
    		</div>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    		<div class="banner_taital">
    			<h1 class="find_text">IBEH JOHN SERVICES</h1>
    			<h2 class="crush_text">ELECTRICAL ENGINEER</h2>
    			<p class="long_text"> You're at the right place, check out our services!</p>
    		</div>
    		<div class="contact">
    			<div class="contact_bt"><a href="{% url 'contact' %}">Contact Us</a></div>
    		</div>
    	</div>
    </div>
    <div class="carousel-item">
      <div class="container">
    		<div class="banner_taital">
    			<h1 class="find_text">IBEH JOHN SERVICES</h1>
    			<h2 class="crush_text">EVENT DJ</h2>
    			<p class="long_text"> You're at the right place, check out our services!</p>
    		</div>
    		<div class="contact">
    			<div class="contact_bt"><a href="{% url 'contact' %}">Contact Us</a></div>
    		</div>
    	</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#my_Controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#my_Controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    </div>
    <!-- banner section end -->
    <!-- about section start -->
    <div class="about_section_2 layout_padding">
        <div class="container">
            <h1 class="about_text_2"><strong>ABOUT US</strong></h1>
            <p class="client_long_text">About John and his services!</p>
        </div>
    </div>
    <div class="about_section">
    	<div class="row">
    		<div class="col-md-6">
    			<div class="about_taital">
    				<h1 class="about_text">ABOUT OUR SERVICES</h1>
    				<p class="long_text_2">My name is Ibeh John, an undergraduate of University of Abuja, currently studying Electrical and Electronic Engineering, I’m into web designing (Front end and Back end), and I’m also aspiring to be a software developer. Presently I work with Emperor Electrical Company; we’re into interior lightening adornment and fittings. I'm also an event DJ with 7 years of ordeal, I play on different genres. I'm available for bookings, hit the contact button and send us a mail for I know you need at least one of our services.</p>
    				<!--<div class="about_bt"><a href="#">ABOUT MORE</a></div> -->
    			</div>
    		</div>
    		<div class="col-md-6">
    			<div class="about_img"><img src="{% static 'website/images/about.png'%}"></div>
    		</div>
    	</div>
    </div>
    <!-- about section end -->
    <!-- our service section start -->
    <div class="our_section layout_padding">
    	<div class="container">
    		<h1 class="our_text"><strong>OUR SERVICES</strong></h1>
    		<p class="client_long_text"> Our services are cool and affordable</p>
    		<div class="row padding_top_0">
    			<div class="col-lg-4">
    				<div class="image_7"><a href="{% url 'engineering' %}"><img src="{% static 'website/images/img1.png'%}"></a></div>
    				<h2 class="design_text">INTERIOR LIGHTENING</h2>
    				<p class="fact_text">Permit us to light up your world</p>
    			</div>
    		    <div class="col-lg-4">
    		    	<div class="image_7"><a href="{% url 'contact' %}"><img src="{% static 'website/images/im2.png'%}"></a></div>
    				<h2 class="design_text">WEB DEVELOPER</h2>
    				<p class="fact_text">Permit us to be your web developer,very cheap and affordable</p>
    		    </div>
    		    <div class="col-lg-4">
    		    	<div class="image_7"><a href="{% url 'dj' %}"><img src="{% static 'website/images/img3.png'%}"></a></div>
    				<h2 class="design_text">EVENT DJ</h2>
    				<p class="fact_text">We are at your service any day anytime, contact us today!</p>
    		    </div>
    		    <div class="bt_main">
    		    	<div class="seemore_bt"><a href="{% url 'bookings' %}">Bookings</a></div>
    		    </div>
    		</div>

    	</div>
    </div>
    <!-- our service section end -->

    <!-- our price section start -->
    <div class="our_price_section layout_padding">
    	<div class="container">
    		<h1 class="our_price"><strong>HIGH LIGHTS</strong></h1>
    		<p class="client_long_text"> A tip on the importance of getting our professionals!  </p>
            <div class="price_section_2">
            	<div class="row">
            		<div class="col-sm-12 col-lg-4">
            			<div class="beginner">
            				<h2 class="beginner_text">Electrical Installation</h2>
            				<h1 class="plan_text">7 Years Experience</h1>
            				<P class="access_text">* Guarantee building codes and standards</P>
            				<P class="access_text">* Improve safety at home and work place</P>
            				<P class="access_text">* install, inspect and test electrical equipments</P>
            				<P class="access_text"></P>
            				<P class="free_text"> CONTACT US</P>
            			</div>
            			<div class="select_boton">
            			    <div class="select_bt"><a href="{% url 'engineering' %}">SEE MORE</a></div>
            			</div>
            		</div>
            		<div class="col-sm-12 col-lg-4">
            			<div class="premium">
            				<h2 class="beginner_text">Event DJ</h2>
            				<h1 class="plan_text">4 Years Experience</h1>
            				<P class="access_text">*Trusted and experienced</P>
            				<P class="access_text">*Lower the stress of everyone involved</P>
            				<P class="access_text">*Play on different genres</P>
            				<P class="access_text"></P>
            				<P class="free_text">CONTACT US</P>
            			</div>
            			<div class="select_boton">
            			    <div class="premium_bt"><a href="{% url 'dj' %}">SEE MORE</a></div>
            			</div>
            		</div>
            		<div class="col-sm-12 col-lg-4">
            			<div class="beginner">
            				<h2 class="beginner_text">Web Designing</h2>
            				<h1 class="plan_text">3 Years experience</h1>
            				<P class="access_text">*Trusted and experienced</P>
            				<P class="access_text">*Offers enhanced security and speed</P>
            				<P class="access_text">*Integrated features and plugins</P>
            				<P class="access_text">*Site maintenance</P>
            				<P class="free_text">CONTACT US</P>
            			</div>
            			<div class="select_boton">
            			    <div class="select_bt"><a href="{% url 'web' %}">SEE MORE</a></div>
            			</div>
            		</div>
            	</div>
            </div>
    	</div>
    </div>
    <!-- our price section end -->

    <!-- contact section start -->
    <div class="about_section_2 layout_padding">
        <div class="container">
            <h1 class="contact_text_2"><strong>CONTACT US</strong></h1>
            <p class="client_long_text">We respond as soon as you drop your request </p>
        </div>
    </div>
    <div class="contact_section">
    	<div class="row">
    		<div class="col-md-6 background_bg">
    			<div class="contact_bg">
    				<div class="input_main">
                       <div class="container">
                       	<h2 class="request_text">REQUEST A CALL BACK</h2>
                           <form  action="{% url 'contact' %}" method="post"  class="tm-contact-form">
                                       {% csrf_token %}
                                    <div class="form-group">
                                      <input type="text"  name="contact_name" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Name" required="" />
                                    </div>
                                    <div class="form-group">
                                      <input type="email"  name="contact_email" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Email" required="" />
                                    </div>

                                    <div class="form-group">
                                      <textarea rows="4"  name="contact_message" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Message..." required=""></textarea>
                                    </div>

                                     <div class="form-group mb-0">
                                      <button type="submit"  class="premium_bt rounded-0 d-block ml-auto tm-btn-primary">
                                        SUBMIT
                                      </button>
                                    </div>
                                  </form>
                       </div>
                    </div>

    			</div>
    		</div>
    		<div class="col-md-6">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39726.181947496414!2d7.05682009811578!3d8.941092492246097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e87e150f867e7%3A0x21d8ed724151c62c!2s902101%2C%20Gwagwalada!5e0!3m2!1sen!2sng!4v1633949368158!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </iframe>
                </div>
    	    </div>
    	</div>
    </div>
    <!-- contact section end -->











{% endblock %}
