{% extends 'base.html' %}
{% load static %}

    {% block title %}

        WEB DEVELOPING!

    {% endblock %}

    {% block meta_description %}

       IBEH JOHN WEB DESIGNS

    {% endblock %}

{% block content %}




     <!-- our service section start -->
    <div class="our_section layout_padding">
    	<div class="container">
    		<h1 class="our_text"><strong>WEB DESIGNS</strong></h1>
    		<p class="client_long_text"> Our services are cool and affordable</p>
    		<div class="row padding_top_0">
    			<div class="col-lg-4">
    				<div class="image_7"><a href="{% url 'contact' %}"><img src="{% static 'website/images/web1.png'%}"></a></div>
    				<h2 class="design_text">WEB PHOTOS</h2>
    				<p class="fact_text">We offer enhanced security and speed</p>
    			</div>
    		    <div class="col-lg-4">
    		    	<div class="image_7"><a href="{% url 'contact' %}"><img src="{% static 'website/images/web2.png'%}"></a></div>
    				<h2 class="design_text">WEB TEMPLATES</h2>
    				<p class="fact_text">Integrated plugings and templates </p>
    		    </div>
    		    <div class="col-lg-4">
    		    	<div class="image_7"><a href="{% url 'contact' %}"><img src="{% static 'website/images/web3.png'%}"></a></div>
    				<h2 class="design_text">WEB PROJECTS </h2>
    				<p class="fact_text">We build and maintain website,contact us today!!</p>
    		    </div>
    		    <div class="bt_main">
    		    	<div class="seemore_bt"><a href="{% url 'bookings' %}">Bookings</a></div>
    		    </div>
    		</div>

    	</div>
    </div>
    <!-- our service section end -->

{% endblock %}